.association {
    padding: rem(150) 0;

    @include mobile {
        padding: rem(50)
    }
}

.last-section {
    padding-bottom: rem(150);

    @include mobile {
        padding-bottom: rem(50)
    }

    &__items {
        @media (max-width: 1024px) {
            padding-bottom: 30px;
        }
    }

    &__item {
        display: flex;
        justify-content: center;
    }

    &__img {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .swiper-pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        justify-content: center;
        @media (min-width: 1024px) {
            display: none;
        }

        &-bullet {
            border-color: var(--lightGrey-color);
            &-active {
                border-color: var(--primary-color);
                background-color: var(--primary-color);
            }
        }
    }

    .swiper-button-prev,
    .swiper-button-next {
        margin: 0;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        box-shadow: 0 0 4px 4px rgba(0,0,0,0.1);
    }

    .swiper-button-prev {
        left: 10px;
    }

    .swiper-button-next {
        right: 10px;
    }
}