.project {
    padding: rem(150) 0;

    @include mobile {
        padding: rem(50) 0;
    }
    &-block {
        display: block;
        @extend %gradient;
        
        &__image {
            padding-bottom: 450px;

            @include smobile {
                padding-bottom: 350px;
            }
        }
    
        &__name {
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 40px;
            font-family: $secondary-font;
            font-weight: 600;
            font-size: 24px;
            color: #fff;
            z-index: 2;
        }
    
        &__count {
            position: absolute;
            top: -9px;
            right: -3px;
            font-weight: bold;
            font-size: 60px;
            color: #fff;
            line-height: 1;
            -webkit-text-stroke: 1px #fff;
            -webkit-text-fill-color: transparent;
        }

        &__bottom {
            position: absolute;
            bottom: 40px;
            left: 40px;
            right: 40px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            z-index: 2;
            @media (max-width: 600px) {
                flex-direction: column;
            }
        }

        &__btn {
            color: #fff;
            border-color: #fff;
        }
    }

    &__slider {
        padding-bottom: rem(50);
        .swiper-button-prev, 
        .swiper-button-next {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            z-index: 2;
        }            
        .swiper-button-prev {
            left: 40px;

            @include mobile {
                left: 0;
            }
        }
        .swiper-button-next {
            right: 40px;

            @include mobile {
                right: 0;
            }
        }

        .swiper-pagination {
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            justify-content: center;

            &-bullet {
                border-color: var(--lightGrey-color);
                &-active {
                    background-color: var(--lightGrey-color);
                }
            }
        }
    }
}

.project-section {
    &__item {
        margin-bottom: rem(70);

        &:last-child {
            margin-bottom: 0;
        }

        @media (max-width: 600px) {
            margin-bottom: rem(20);
        }
    }

    .project-block__name {
        position: unset;
        width: 60%;
        
        @media (max-width: 600px) {
            width: 100%;
            text-align: center;
            margin-bottom: rem(20);
            font-size: 22px;
        }
    }
}