.default-section {
    h1,
    h2,
    h3,
    h4 {
        margin-top: 0;
        margin-bottom: rem(30);
        font-family: $main-font;
        font-weight: 900;
        color: var(--primary-color);
    }
    h1 {
        @include css-lock(25,50,1024,1440);
    }
    h2 {
        @include css-lock(20,40,1024,1440);
    }
    h3 {
        @include css-lock(18,30,1024,1440);
    }
    h4 {
        @include css-lock(16,24,1024,1440);
    }
    p {
        margin-bottom: rem(40);
        font-family: $secondary-font;
        font-size: 18px;
        line-height: rem(30);
        color: var(--primary-color);

        @include mobile {
            margin-bottom: rem(20);
            margin-left: 0!important;
            margin-right: 0!important;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    img{ 
        max-width: 100%;
        height: auto;
        
        @include mobile {
            width: 100%;
            margin-left: 0!important;
            margin-right: 0!important;
            margin-bottom: rem(20)!important;
        }
    }

    a {
        color: var(--secondary-color);

        @include hover {
            color: var(--primary-color);
        }
    }
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%;
    margin-bottom: rem(50);
    iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}