.assosation-page {
    position: relative;

    .title {
        @include css-lock(60,300,768,1440, margin-top);
        @include css-lock(60,300,768,1440, margin-bottom);
        text-align: center;

        &__name {
            &::before {
                right: 0;
                margin: auto;
            }
        }
    }

    .main-content {
        grid-template-columns: 1fr;
    }
}
.assosation-members {
    &__bg {
        position: absolute;
        top: var(--headerHeight);
        left: 0;
        width: 100%;
        height: 0;
        padding-top: 43.5%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        z-index: -1;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(0deg, rgba(5,44,88,0.94) 3%, rgba(0,212,255,0) 100%);
        }
    }
}

.cd-tab {
    &-filter {
        text-align: center;

        @include mobile {
            position: relative;
            height: 50px;
            width: auto;
            margin: 0 auto;
            border-radius: 0;
            background-color: var(--secondary-color);
            z-index: 1;

            ul {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                background-color: #fff;
                border: none;
                flex-direction: column-reverse;
                border-radius: 0;
            }

            li {
                display: none;
                &:first-child {
                    display: block;
                }
            }
        }

        &.is-open {
            ul {
                box-shadow: 0 0 13px 6px rgba(208,208,208, 0.5);
                border-radius: 0;
            }
            li {
                display: block;
            }
        }
    }
    
}

.cd {
    &-filters {
        display: inline-flex;
        border: 2px solid var(--grey-color);
        border-radius: 30px;
        overflow: hidden;

        .placeholder {
            display: none;
            background-color: var(--secondary-color);
            a {
                color: #fff;
            }
        }

        a {
            padding: 0 35px;
            position: relative;
            display: block;
            font-weight: bold;
            font-size: 18px;
            line-height: 60px;
            color: var(--grey-color);
            text-transform: uppercase;
            text-decoration: none;
            z-index: 2;

            @include mobile {
                font-size: 16px;
                line-height: 50px;
            }
        }
    }
}

.mixitup-control-active {
    a {
        color: #fff;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: var(--secondary-color);
            border-radius: 30px;
            z-index: -1;
        }
    }
}

.cd-gallery {
    margin-top: rem(50);

    @include mobile {
        margin-top: rem(30);
    }

    &__lists {
        display: grid;
        grid-template-columns: repeat(5, 1fr);

        @include mobile {
            grid-template-columns: repeat(4, 1fr);
        }

        @include smobile {
            grid-template-columns: repeat(2, 1fr);
        }
    }

    &__list {

    }

    &__link {
        padding-top: 95%;
        position: relative;
        display: block;
        width: 100%;
        height: 0;
        transition: 0.3s ease-in-out;

        @include hover {
            box-shadow: 0px 0px 40px 10px rgba(1, 78, 180, 0.08);
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 60%;
        height: 60%;
        object-fit: contain;
        transform: translate(-50%, -50%);

        @include mobile {
            width: 60%;
            height: 60%;
        }
    }
}

.mixitup-control-active {
    position: relative;
    color: #fff!important;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--secondary-color);
        border-radius: 30px;
        z-index: -1;

        @include mobile {
            border-radius: 0;
        }
    }
}