include mixins/svg
include ../component/header
include ../component/footer
include ../component/nav
include ../component/languages
include ../component/event
include ../component/tour
include ../component/aside
include ../component/socials
include ../component/news
include ../component/smi
include ../component/gallery
include ../component/video-gallery
include ../component/archive
include ../component/pagination
include ../component/date-flter