mixin aside(data)
    - data = data || {}

    aside.sidebar 
        .sidebar__inner
            ul.sidebar__items 
                each item in sidebar
                    li.sidebar__item
                        a(href=`${item.link}` title=`${item.title}` class!=(item.title == titlePage ? "sidebar--current" : "")).sidebar__link!=item.title