-
    var socials = [
        {
            name: 'Facebook',
            icon: 'Facebook'
        },
        {
            name: 'Twitter',
            icon: 'Twitter'
        },
        {
            name: 'YouTube',
            icon: 'YouTube'
        },
        {
            name: 'LinkedIn',
            icon: 'in'
        },
    ]

.social 
    ul.social__list
        each item in socials
            li.social__item
                a(href="#").social__link.social--hover
                    +icon(`${item.icon}`,{cls: `social__icon social__icon-${item.name}`})