extends pug/base

append vars
    - title = 'О нас'
    - titlePage = 'О нас'
    - body.classList = 'inner-page'
    -
        var sidebar = [
            { title: 'О нас', link: 'about-us.html'}, 
            { title: 'История', link: 'history.html'}, 
            { title: 'Руководство и команда', link: 'team.html'}, 
            { title: 'Партнёры', link: 'partners.html'}, 
            { title: 'Контакты', link: 'contacts.html'},
            { title: 'Члены ассоциации', link: 'assosation-members.html'}
        ]
block content
    +header()
    // Контент
    section.main(data-aos="fade-up" data-aos-delay="200")
        .main__wrapper
            .title
                .container
                    h1.title__name(data-aos="fade-up" data-aos-delay="400")!=titlePage
            .white-wrapper
                .main-content
                    +aside(sidebar)
                    .content
                        .default-section(data-aos="fade-up" data-aos-delay="200")
                            .video-gallery__video.ratio-container
                                    video(
                                    class="js-player"
                                    preload="auto"
                                    data-poster=`./images/video/1.jpg`)
                                        source(src="./images/video/oceans.mp4" type="video/mp4")
                            p(style="margin-left:100px;margin-right: 190px")
                                | Сегодня, когда в стране развиваются многие направления туризма, думаю, что вы сможете найти здесь новых партнеров, развить в Узбекистане свой бизнес, а правительство в свою очередь готово поддержать все ваши инициативы».
                            p(style="margin-left:100px;margin-right: 190px")
                                | В церемонии открытия мероприятия также приняли участие в.р.и.о. председателя Государственного комитета Республики Узбекистан по развитию туризма Абдулазиз Аккулов, Председатель Ассоциации частных туристических организаций Узбекистана (АЧТО) Гулчехра Исраилова, представители международных и отечественных организаций в сфере туризма, а также средств массовой информации.
                            img(src="./images/news/news-2.jpg", alt="" style="float:left;margin-right: 140px;" width="350" height="380")
                            p 
                                | В церемонии открытия мероприятия также приняли участие в.р.и.о. председателя Государственного комитета Республики Узбекистан по развитию туризма Абдулазиз Аккулов, Председатель Ассоциации частных туристических организаций Узбекистана (АЧТО) Гулчехра Исраилова, представители международных и отечественных организаций в сфере туризма, а также средств массовой информации. Сегодня, когда в стране развиваются многие направления туризма.
                            p(style="margin-left:100px;margin-right: 190px")
                                | В церемонии открытия мероприятия также приняли участие в.р.и.о. председателя Государственного комитета Республики Узбекистан по развитию туризма Абдулазиз Аккулов, Председатель Ассоциации частных туристических организаций Узбекистана (АЧТО) Гулчехра Исраилова, представители международных и отечественных организаций в сфере туризма, а также средств массовой информации. Сегодня, когда в стране развиваются многие направления туризма, думаю, что вы сможете найти здесь новых партнеров, развить в Узбекистане свой бизнес, а правительство в свою очередь готово поддержать все ваши инициативы».
    +footer()