extends pug/base

append vars
    - title = 'законодательство'
    - titlePage = 'законодательство'
    - body.classList = 'inner-page'
    -
        var sidebar = [
            { title: 'конситутция', link: '#'}, 
            { title: 'законы', link: '#'}, 
            { title: 'постановление и указы президента', link: '#'}, 
            { title: 'постановление правительство', link: '#'}, 
            { title: 'лицензирование', link: '#'}, 
            { title: 'международные правовые документы', link: '#'}
        ]
        var accordion = [
            {
                title: 'Конституция Республики Узбекистан',
                submenu: [
                    'Закон Республики Узбекистан «О Туризме»', 
                    'Закон Республики Узбекистан «О сертификации продукции и услуг»', 
                    'Закон Республики Узбекистан «О лицензировании отдельных видов деятельности»',
                    'Закон Республики Узбекистан «О вывозе и ввозе культурных ценностей»',
                    'Закон Республики Узбекистан «Об охране и использовании объектов культурного наследия»'
                ]
            },
            {
                title: 'Законы',
                submenu: [
                    'Закон Республики Узбекистан «О Туризме»', 
                    'Закон Республики Узбекистан «О сертификации продукции и услуг»', 
                    'Закон Республики Узбекистан «О лицензировании отдельных видов деятельности»',
                    'Закон Республики Узбекистан «О вывозе и ввозе культурных ценностей»',
                    'Закон Республики Узбекистан «Об охране и использовании объектов культурного наследия»'
                ]
            },
            {
                title: 'Указы и постановления Президента',
                submenu: [
                    'Закон Республики Узбекистан «О Туризме»', 
                    'Закон Республики Узбекистан «О сертификации продукции и услуг»', 
                    'Закон Республики Узбекистан «О лицензировании отдельных видов деятельности»',
                    'Закон Республики Узбекистан «О вывозе и ввозе культурных ценностей»',
                    'Закон Республики Узбекистан «Об охране и использовании объектов культурного наследия»'
                ]
            },
            {
                title: 'Указы и постановления Президента',
                submenu: [
                    'Закон Республики Узбекистан «О Туризме»', 
                    'Закон Республики Узбекистан «О сертификации продукции и услуг»', 
                    'Закон Республики Узбекистан «О лицензировании отдельных видов деятельности»',
                    'Закон Республики Узбекистан «О вывозе и ввозе культурных ценностей»',
                    'Закон Республики Узбекистан «Об охране и использовании объектов культурного наследия»'
                ]
            },
        ]
block content
    +header()
    // Контент
    section.main(data-aos="fade-up" data-aos-delay="200")
        .main__wrapper
            .title
                .container
                    h1.title__name(data-aos="fade-up" data-aos-delay="400")!=titlePage
            .white-wrapper
                .main-content
                    +aside(sidebar)
                    .content(data-aos="fade-up" data-aos-delay="500")
                        .accordion__items
                            each item,i in accordion
                                .accordion__item(data-aos="fade-up" data-aos-delay=`${i+1}00`)
                                    .accordion__tab!=item.title
                                        +icon('arrow',{w: 20, h: 20, cls: "accordion__icon"})
                                    .accordion__content
                                        each items in item.submenu
                                            .accordion__content-item
                                                a(href="#").accordion__link!=items
    +footer()
