extends pug/base

append vars
    - title = 'Пресс центр'
    - titlePage = 'СBТ-туризм самарканд, обладающий высоким потенциалом, ждет только позитивных импульсов'
    - body.classList = 'inner-page'
    -
        var sidebar = [
            { title: 'Новости', link: 'news.html'}, 
            { title: 'Сми о нас', link: 'smi-about.html'}, 
            { title: 'Фотогалерея', link: 'foto-gallery.html'}, 
            { title: 'Видеогалерея', link: 'video-gallery.html'}, 
            { title: 'Архив', link: 'archive.html'}
        ]
block content
    +header()
    // Контент
    section.main
        .main__wrapper
            .title
                .container
                    h1.title__name!=titlePage
            .white-wrapper
                .main-content
                    +aside(sidebar)
                    .content
                        .news-page
                            .default-section 
                                img(src="./images/events/event-1.jpg", alt="" style="margin-bottom: 50px;")
                                p(style="margin-left:100px;margin-right: 190px")
                                    | Сегодня, когда в стране развиваются многие направления туризма, думаю, что вы сможете найти здесь новых партнеров, развить в Узбекистане свой бизнес, а правительство в свою очередь готово поддержать все ваши инициативы».
                                p(style="margin-left:100px;margin-right: 190px")
                                    | В церемонии открытия мероприятия также приняли участие в.р.и.о. председателя Государственного комитета Республики Узбекистан по развитию туризма Абдулазиз Аккулов, Председатель Ассоциации частных туристических организаций Узбекистана (АЧТО) Гулчехра Исраилова, представители международных и отечественных организаций в сфере туризма, а также средств массовой информации.
                                p(style="margin-left:100px;margin-right: 190px")
                                    | В церемонии открытия мероприятия также приняли участие в.р.и.о. председателя Государственного комитета Республики Узбекистан по развитию туризма Абдулазиз Аккулов, Председатель Ассоциации частных туристических организаций Узбекистана (АЧТО) Гулчехра Исраилова, представители международных и отечественных организаций в сфере туризма, а также средств массовой информации.
                            .back-btn
                                a(href="news.html").btn.btn-white
                                    +icon('back',{w: 6, h: 10,})
                                    | Вернуться назад к новостям