*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	height: 100%;
	box-sizing: border-box;
	scroll-behavior: smooth;
	box-sizing: border-box;
}

body {
	display: flex;
	flex-direction: column;
	height: 100%;
	min-width: 320px;
	font-family: $main-font;
	font-weight: 500;
	font-size: $main-font-size;
	-webkit-font-smoothing: antialiased;
	text-decoration-skip: objects;
	text-rendering: optimizeLegibility;
	text-size-adjust: 100%;
	-webkit-tap-highlight-color: transparent;
	background-color: var(--primary-color);
}

.no-hover {
	overflow-x: hidden !important;
}

.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12,
.col,
.col-auto,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm,
.col-sm-auto,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md,
.col-md-auto,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg,
.col-lg-auto,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl,
.col-xl-auto {
	position: relative;
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
}

@media (min-width: 576px) {
	.col-sm {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}

	.row-cols-sm-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-sm-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-sm-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.row-cols-sm-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-sm-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-sm-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-sm-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-sm-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-sm-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-sm-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-sm-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-sm-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-sm-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-sm-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-sm-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-sm-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-sm-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-sm-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-sm-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-sm-first {
		-ms-flex-order: -1;
		order: -1;
	}

	.order-sm-last {
		-ms-flex-order: 13;
		order: 13;
	}

	.order-sm-0 {
		-ms-flex-order: 0;
		order: 0;
	}

	.order-sm-1 {
		-ms-flex-order: 1;
		order: 1;
	}

	.order-sm-2 {
		-ms-flex-order: 2;
		order: 2;
	}

	.order-sm-3 {
		-ms-flex-order: 3;
		order: 3;
	}

	.order-sm-4 {
		-ms-flex-order: 4;
		order: 4;
	}

	.order-sm-5 {
		-ms-flex-order: 5;
		order: 5;
	}

	.order-sm-6 {
		-ms-flex-order: 6;
		order: 6;
	}

	.order-sm-7 {
		-ms-flex-order: 7;
		order: 7;
	}

	.order-sm-8 {
		-ms-flex-order: 8;
		order: 8;
	}

	.order-sm-9 {
		-ms-flex-order: 9;
		order: 9;
	}

	.order-sm-10 {
		-ms-flex-order: 10;
		order: 10;
	}

	.order-sm-11 {
		-ms-flex-order: 11;
		order: 11;
	}

	.order-sm-12 {
		-ms-flex-order: 12;
		order: 12;
	}
}


@media (min-width: 768px) {
	.col-md {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}

	.row-cols-md-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-md-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-md-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.row-cols-md-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-md-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-md-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-md-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-md-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-md-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-md-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-md-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-md-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-md-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-md-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-md-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-md-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-md-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-md-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-md-0 {
		-ms-flex-order: 0;
		order: 0;
	}
}

@media (min-width: 992px) {
	.col-lg {
		-ms-flex-preferred-size: 0;
		flex-basis: 0;
		-ms-flex-positive: 1;
		flex-grow: 1;
		max-width: 100%;
	}

	.row-cols-lg-1>* {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.row-cols-lg-2>* {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.row-cols-lg-3>* {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.row-cols-lg-4>* {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.row-cols-lg-5>* {
		-ms-flex: 0 0 20%;
		flex: 0 0 20%;
		max-width: 20%;
	}

	.row-cols-lg-6>* {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-lg-auto {
		-ms-flex: 0 0 auto;
		flex: 0 0 auto;
		width: auto;
		max-width: 100%;
	}

	.col-lg-1 {
		-ms-flex: 0 0 8.333333%;
		flex: 0 0 8.333333%;
		max-width: 8.333333%;
	}

	.col-lg-2 {
		-ms-flex: 0 0 16.666667%;
		flex: 0 0 16.666667%;
		max-width: 16.666667%;
	}

	.col-lg-3 {
		-ms-flex: 0 0 25%;
		flex: 0 0 25%;
		max-width: 25%;
	}

	.col-lg-4 {
		-ms-flex: 0 0 33.333333%;
		flex: 0 0 33.333333%;
		max-width: 33.333333%;
	}

	.col-lg-5 {
		-ms-flex: 0 0 41.666667%;
		flex: 0 0 41.666667%;
		max-width: 41.666667%;
	}

	.col-lg-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}

	.col-lg-7 {
		-ms-flex: 0 0 58.333333%;
		flex: 0 0 58.333333%;
		max-width: 58.333333%;
	}

	.col-lg-8 {
		-ms-flex: 0 0 66.666667%;
		flex: 0 0 66.666667%;
		max-width: 66.666667%;
	}

	.col-lg-9 {
		-ms-flex: 0 0 75%;
		flex: 0 0 75%;
		max-width: 75%;
	}

	.col-lg-10 {
		-ms-flex: 0 0 83.333333%;
		flex: 0 0 83.333333%;
		max-width: 83.333333%;
	}

	.col-lg-11 {
		-ms-flex: 0 0 91.666667%;
		flex: 0 0 91.666667%;
		max-width: 91.666667%;
	}

	.col-lg-12 {
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		max-width: 100%;
	}

	.order-lg-first {
		-ms-flex-order: -1;
		order: -1;
	}

	.order-lg-last {
		-ms-flex-order: 13;
		order: 13;
	}

	.order-lg-0 {
		-ms-flex-order: 0;
		order: 0;
	}

	.order-lg-1 {
		-ms-flex-order: 1;
		order: 1;
	}

	.order-lg-2 {
		-ms-flex-order: 2;
		order: 2;
	}

	.order-lg-3 {
		-ms-flex-order: 3;
		order: 3;
	}

	.order-lg-4 {
		-ms-flex-order: 4;
		order: 4;
	}

	.order-lg-5 {
		-ms-flex-order: 5;
		order: 5;
	}

	.order-lg-6 {
		-ms-flex-order: 6;
		order: 6;
	}

	.order-lg-7 {
		-ms-flex-order: 7;
		order: 7;
	}

	.order-lg-8 {
		-ms-flex-order: 8;
		order: 8;
	}

	.order-lg-9 {
		-ms-flex-order: 9;
		order: 9;
	}

	.order-lg-10 {
		-ms-flex-order: 10;
		order: 10;
	}

	.order-lg-11 {
		-ms-flex-order: 11;
		order: 11;
	}

	.order-lg-12 {
		-ms-flex-order: 12;
		order: 12;
	}

	.offset-lg-0 {
		margin-left: 0;
	}

	.offset-lg-1 {
		margin-left: 8.333333%;
	}

	.offset-lg-2 {
		margin-left: 16.666667%;
	}

	.offset-lg-3 {
		margin-left: 25%;
	}

	.offset-lg-4 {
		margin-left: 33.333333%;
	}

	.offset-lg-5 {
		margin-left: 41.666667%;
	}

	.offset-lg-6 {
		margin-left: 50%;
	}

	.offset-lg-7 {
		margin-left: 58.333333%;
	}

	.offset-lg-8 {
		margin-left: 66.666667%;
	}

	.offset-lg-9 {
		margin-left: 75%;
	}

	.offset-lg-10 {
		margin-left: 83.333333%;
	}

	.offset-lg-11 {
		margin-left: 91.666667%;
	}
}


a:active,
a:hover,
a:focus,
input:active,
input:hover,
input:focus,
textarea {
	outline: none;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

button:not([disabled]),
a[role="button"]:not([disabled]) {
	cursor: pointer;
}

header {
	flex: 0 0 auto;
	z-index: 99;
}

.main {
	flex: 1 0 auto;

	&-content {
		display: grid;
		grid-template-columns: 300px 1fr;
		grid-gap: 100px;
		padding: rem(80);

		@include mobile {
			grid-template-columns: 1fr;
			padding: rem(20);
		}
	}
}

footer {
	flex: 0 0 auto;
}

.d-flex {
	display: flex;
	flex-wrap: wrap;
}

.align-center {
	align-items: center;
}

.justify-between {
	justify-content: space-between;
}

.flex-column {
	flex-direction: column !important;
}

.btn {
	display: inline-block;
	padding: 0 30px;
	line-height: 50px;
	border: 2px solid transparent;
	border-radius: 30px;
	text-decoration: none;

	&-blue {
		line-height: 56px;
		font-size: 15px;
		color: #fff;
		text-transform: uppercase;
		background-color: var(--primary-color);

		@include mobile {
			line-height: 45px;
			font-size: 14px;
		}
	}

	&-white {
		line-height: 46px;
		font-family: $secondary-font;
		font-weight: bold;
		font-size: 15px;
		color: var(--secondary-color);
		border-color: var(--secondary-color);
	}
}

.banner {
    margin-bottom: rem(150);
    @include mobile {
        margin-bottom: 50px;
    }
    &__image {
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.white-wrapper {
    margin: 0 4vw rem(150);
    background-color: #fff;
}

.index-title {
    position:relative;
    padding-top: rem(30);
    margin-bottom: rem(60);
    color: var(--primary-color);
    font-weight: 900;
    @include css-lock(25,40,320,1024);
    text-align: center;
    text-transform:uppercase;

    &::before {
        content: "";
        position:absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 70px;
        height: 8px;
        margin: auto;
        background-color: var(--secondary-color);
    }
}

.link-title {
    padding: 10px 0;
    position: absolute;
    top: 7%;
    right: 0;
    font-family: $secondary-font;
    font-weight: bold;
    font-size: 16px;
    color: var(--secondary-color);
    @include mobile {
        top: unset;
        bottom: -70px;
        left: 0;
        text-align: center
    }
}

.title {
	margin-top: rem(100);
	margin-bottom: rem(95);

	@include mobile {
		margin-top: rem(50);
		margin-bottom: rem(50);
	}
	&__name {
		position: relative;
		margin: 0;
		padding-top: rem(35);
		color: #fff;
		font-weight: 900;
		@include css-lock(30,50,320,1440);
		text-transform: uppercase;

		@include mobile {
			padding-top: rem(20);
		}

		&::before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 70px;
			height: 8px;
			background-color: #fff;

			@include mobile {
				width: 55px;
				height: 6px;
			}
		}
	}
}